<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h1><img class="logo" src="../../../../../assets/images/ticketWaves.png" alt="Ticketing waves"></h1>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h3 matSubheader>Pages</h3> 
    <mat-divider></mat-divider>

    <ng-container *ngIf="role === 'Manager'">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/managerHome/dashboard">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/managerHome/manageEmployee">Employee</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/managerHome/manageClient">Client</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/managerHome/manageTicket">Ticket</a>
    </ng-container>

    <ng-container *ngIf="role === 'Employee'">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/employeeHome/employeeDashBoard">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/employeeHome/employeeTickets">My tickets</a>
        <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/employeeHome/employeeComment">Comments</a> -->
    </ng-container>

    <ng-container *ngIf="role === 'Client'">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/clientHome/clientDashboard">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/clientHome/clientTicket">My tickets</a>
        <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/clientHome/clientComment">Comments</a> -->
    </ng-container>
    <mat-divider></mat-divider>


</mat-nav-list>
